{% extends 'base.html.twig' %}
{% block body %}
	<div class="row h-75 justify-content-center align-items-center">
		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header">Victor Herouin</div>
			<div class="card-body">
				<h4 class="card-title">BlogTest</h4>
				<p class="card-text">Ceci est un blog créé dans le but d'approfondir mes connaisances sur Symfony, Twig, Bootstrap...</p>
			</div>
		</div>
	</div>

{% endblock %}
